@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  /* background-color: #F3F3F3; */
}

button {
  margin-top: 10px;
  width: auto;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover {
  /* color: whitesmoke; */
  background-color: #2c974b;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none
}

/* .btn-add {
  border: 3px solid aqua;
}

.btn-add:hover {
  background: aqua;
  border: 3px solid aqua;
}

.btn-cancel {
  border: 3px solid red;
}

.btn-cancel:hover {
  background-color: red;
  border: 3px solid red;
} */